/* @import url('https://fonts.googleapis.com/css?family=Lato'); */
body, html{
  height: 100%;
  width: 100%;
  position: relative;
}
body{
  font-family: 'Nunito', Arial, Helvetica, sans-serif;
}
img{
  width:100%;
}
*:before,
*:after {
 box-sizing: border-box;
}


.large-container{
  max-width: 1200px;
  margin-left: auto;
  margin-right:auto;
}
.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}


