/* @import url('https://fonts.googleapis.com/css?family=Lato'); */
@import url('https://fonts.googleapis.com/css?family=Nunito+Sans');

body, html{
  height: 100%;
  width: 100%;
  position: relative;
}
body{
  font-family: 'Nunito Sans', Arial, Helvetica, sans-serif;
}

img{
  width:100%;
  height: auto;
}
*:before,
*:after {
 box-sizing: border-box;
}
ul,li,a{
  text-decoration: none;
  list-style-type: none;
}
ul{
  padding: 0;
}

.large-container{
  max-width: 1200px;
  margin-left: auto;
  margin-right:auto;
}
.fade-enter-active, .fade-leave-active {
  /* transition: opacity .5s; */
  opacity: 1;
  transform: translate(0, 0);
  transition-duration: .5s;
}
.fade-enter, .fade-leave-to  {
  /* opacity: 0; */
  opacity: 0;
  transform: translate(2em, 0);
  transition-duration: .5s;
  
}
.title{
  color: #000;
}
.subtitle, .tags{
  color: #8F8F8F;
}

::selection {
  background: #ffb7b7; /* WebKit/Blink Browsers */
}

