@mixin bp($point) {
    $xSmall: "(min-width: 568px)";
    $small: "(min-width: 768px)";
    $mid: "(min-width: 992px)";    
    $medium: "(min-width: 1024px)";
    $large: "(min-width: 1200px)";
    $extraLarge: "(min-width: 1400px)";
    @if $point == xs {
      @media all and #{$xSmall} { @content; }
    }
    @if $point == sm {
      @media all and #{$small} { @content; }
    }
    @if $point == mid {
      @media all and #{$mid} { @content; }
    }
    @if $point == md {
      @media all and #{$medium} { @content; }
    }
    @if $point == lg {
      @media all and #{$large} { @content; }
    }
    @if $point == xlg {
      @media all and #{$extraLarge} { @content; }
    }
}
